In [1]:
# while Loop : while loop depend on their condition .when the condition is true then the loop are stop
#            otherwise the condition is false the loop check the condition continue.
a=0
while a<=10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9
10

In [28]:
# for loop: it is allows a code block to be executed multiple number of time

In [2]:
for i in range(1,11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [7]:
# Natural Number for using for loop
s=0
d=1
for i in range(1,11):
    s=s+i
    d=d*i
print("Sum of natural number is ",s)
print("product of natural number is",d)

Sum of natural number is  55
product of natural number is 3628800

In [13]:
# Natural number for using while loop
n=1
s=0
p=1
while n<=10:
    s=s+n
    p=p*n
    n=n+1
print("sum of natural number is ",s)
print("product of natural number is ",p)

sum of natural number is  55
product of natural number is  3628800

In [38]:
# filter counter vowels
s='I want to become a data scientist'
for i in s:
    if i in 'aeiouAEIOU':
        print(i)

I
a
o
e
o
e
a
a
a
i
e
i

In [30]:
s

'I want to become a data scientist'

In [51]:
# create a list 1 to 100
import math
a=[ i**3 for i in range(1,101)]
print(a)
b=[]
for i in range(1,100):
    if (math.remainder(a[i],5)==0) and (math.remainder(a[i],4)==0):
        b.append(a[i])
print("DIVIDBLE NUMBER IS 4 AND 5",b)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]
DIVIDBLE NUMBER IS 4 AND 5 [1000, 8000, 27000, 64000, 125000, 216000, 343000, 512000, 729000, 1000000]